@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --color-background: #F2F2EE;
  --color-white: #ffffff;
  --color-black: #111118;
  --color-gray-field: #F9F9F7;
  --color-light-green: #16A34A;
  --color-gray-subtitle: #6B7280;
}